<div class="" >
    <div class="panel-heading " style="    margin: 0 -15px;" >
        <!--<a href="#" class="save-button"><img src="assets/img/save-icon.png" alt="Save" width="20" height="20">-->
        <div class="row">
            <div class="col-md-8">
                <!--<h3 class="m-t-6" data-i18n="" class="panel-title">İmtahan </h3>-->
            </div>
            <div class="col-md-2">
                <button id="exam_add" data-i18n="save" type="submit" class="btn btn-primary btn-block pincode-button-next">Yadda saxla</button>
            </div>
            <div class="col-md-2">
                <button id="back" data-i18n="back" type="submit" class="btn btn-primary btn-block pincode-button-back">Geri</button>
            </div>
        </div>

    </div>
</div>
<form class="user-search-form">
    <input type="hidden" name="roleId">
    <input type="hidden" name="orgId">
    <input type="hidden" name="keyword">
</form>
<hr>
<div class="panel-body " style="margin: 0 -15px;">
    <div class="row exam">
        <div class="form-group col-md-12 intihar">
            <div class="form-group col-md-6">
                <div class="form-group col-md-12 netice-kotuce">
                    <label style="float: left">Nəticəni göstər</label>
                    <input type="checkbox" class="exresult" style="opacity: 1; position: sticky;">
                </div>
            </div>
        </div>
        <div class="form-group col-md-12">
            <div class="form-group col-md-12">
<!--                <div class="col-md-6">
                    <div class="form-group">
                        <label>Təşkilati struktur</label>
                        <select class="form-control" id="uni"></select>
                    </div>
                </div>                -->
                <div class="col-md-6 hidden">
                    <div class="form-group">
                        <label>Təşkilati struktur</label>
                        <!--<select class="form-control" id="uni" name="courseId" value="1000001">Nobel Group</select>-->
                        <input id = "uni" name="courseId" value="1000001"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label data-i18n="" >İmtahan müddəti(dəqiqə)</label>
                        <input type="text" class="form-control" id="exam_duration">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label data-i18n="" >Keçid faizi</label>
                        <input type="number" class="form-control" id="point_barrier">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label data-i18n="" >Başlama tarixi</label>
                        <input type="text" class="form-control datepicker" data-date-format="dd/mm/yyyy" id="exam_start_date">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label data-i18n="" >Bitmə tarixi</label>
                        <input type="text" class="form-control datepicker" data-date-format="dd/mm/yyyy" id="exam_finish_date">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label data-i18n="" >Başlama vaxtı</label>
                        <input type="text" class="form-control timepicker" data-format="MM/dd/yyyy" id="exam_start_time">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label data-i18n="" >Bitmə vaxtı</label>
                        <input type="text" class="form-control timepicker" data-format="MM/dd/yyyy" id="exam_finish_time">
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12 students-check hidden">    
                <label data-i18n="" >Tələbələr</label>
                <form class="participant_form">
                    <table id="course-student-table" class="table table-celled table-hover long-last-td" style="white-space: pre-line">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>S.A.A</th>
                            <th>Təşkilati struktur</th>
                            <th><input type='checkbox' class="all-student-check" style="opacity: 1; position: sticky;"/></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                </form>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(function () {
        Exam.i18n(Exam.lang);
        $('.search-scroll').slimScroll();
        $('.datepicker').datepicker();
        $('.timepicker').datetimepicker({
//            format: 'hh:mm' //LT
            format: 'HH:mm'
        });
//        Exam.Proxy.getStructureListByFilter(0, 0, function (data) {
//            if (data && data.data) {
//        var html = '';
//                var uni = data.data.universityList;
//                var uniCount = data.data.universityList.length;

//                if (uniCount == 0) {
//                    $('#uni').attr('disabled', 'disabled')
//                    html += '<option value = "0">Seçin</option>'
//                    html += '<option value = "1000001">Nobel Group</option>'
//                    $.each(uni, function (i, v) {
//
//                        html += '<option value = "' + v.id + '">' + v.name[Exam.lang] + '</option>'
//                    })
//                    $('#uni').html(html);
//                } else {
//        html += '<option value = "0" selected>Seçin</option>'
//        html += '<option value = "1000001">Nobel Group</option>'
//                    $.each(uni, function (i, v) {
//                        if (i === 0) {
//                            html += '<option value = "' + v.id + '">' + v.name[Exam.lang] + '</option>'
//                        } else {
//                            html += '<option value = "' + v.id + '">' + v.name[Exam.lang] + '</option>'
//                        }
//                    })
//        $('#uni').html(html);
//        $('#uni').select2();
//                }
//            }
//        });

//        $('#uni').on('change', function () {
//            var id = $(this).val();
            $('body').attr('data-org-id', $('#uni').val());
            $('.user-search-form input[name="orgId"]').val($('#uni').val());
            var params = $('#main-div .user-search-form').serialize();
            Exam.Proxy.loadUsers('', params, function (data) {
                if (data.userList) {
                    var html = '';
                    $.each(data.userList, function (i, v) {
                        html += '<tr>' +
                                '<td>' + (++i) + '</td>' +
                                '<td>' + v.fullName + '</td>' +
                                '<td>' + v.orgName.value[Exam.lang] + '</td>' +
                                '<td><input name="participants" value = "' + v.account.id + '"type="checkbox" class="student-check" style="opacity: 1; position: sticky;"/></td>' +
                                '</tr>'
                    })
                    $('#course-student-table tbody').html(html);
                    $('.students-check').removeClass('hidden')
                } else {
                    $('.students-check').addClass('hidden');
                }
            });
//        });

        $('.all-student-check').on('click', function () {
            var checkedStatus = this.checked;
            $('#course-student-table tbody tr').each(function () {
                $(this).find('.student-check').prop('checked', checkedStatus)
            });
        });

    });
</script>
