<div class="add-ticket" >
    <div class="panel-heading" style="    margin: 0 -15px;">

        <!--<a href="#" class="save-button"><img src="assets/img/save-icon.png" alt="Save" width="20" height="20">-->
        <div class="row">
            <div class="col-md-8">
                <!--<h3 class="m-t-6" data-i18n="" class="panel-title">İmtahan </h3>-->
            </div>
            <div class="col-md-2">
                <button id="add_ticket" data-i18n="save" type="submit" class="btn btn-primary btn-block pincode-button-next">Yadda saxla</button>
            </div>
            <div class="col-md-2">
                <button id="back" data-i18n="back" type="submit" class="btn btn-primary btn-block pincode-button-back">Geri</button>
            </div>
        </div>

    </div>
    <div class="panel-body " style="margin: 0 -15px;">
        <div class="row exam">
            <!--            <div class="form-group col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Universitet</label>
                                    <select class="form-control" id="uni_name"></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Kafedra</label>
                                    <select class="form-control" id="department"></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Fakültə</label>
                                    <select class="form-control" id="faculty"></select>
                                </div>
                            </div>
                        </div>-->
            <div class="form-group col-md-12">
                <!--                <div class="form-group col-md-6 фы">
                                    <label data-i18n="">Qrup</label>
                                    <select class="form-control" id="group" ticket-required></select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label data-i18n="">Fakültə</label>
                                    <select class="form-control " id="org_faculty_filter"></select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label data-i18n="">Kafedra</label>
                                    <select class="form-control " id="department_filter"></select>
                                </div>-->
                <div class="form-group col-md-6">
                    <select class="form-control hidden" id="org_uni_filter"></select>
                </div>
            </div>
            <div class="form-group col-md-12">
                <!--                <div class="col-md-6">
                                    <div class=form-group">
                                        <label data-i18n="">Tədris planı</label>
                                        <select class="form-control" id="edu_plan" ticket-required></select>
                                    </div>
                                </div>-->
          
                <div class="col-md-6">
                    <div class="form-group">
                        <label data-i18n="topic_type"></label>
                        <select multiple class="form-control" id="quest_topic"></select>
                        <!--ticket-required-->
                    </div>
                </div>      <div class="form-group col-md-6">
                    <div class=form-group">
                        <label data-i18n="topic"></label>
                        <select  class="form-control" id="quest_subject" ticket-required multiple=""></select>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Bilet sayı</label>
                        <input class="form-control" id="ticket_count" ticket-required>
                    </div>
                </div>
                <!--                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Sistem</label>
                                        <select class="form-control" id="exam_type" ticket-required></select>
                                    </div>
                                </div>-->
            </div>

            <div class="col-md-12">
                <div class="panel-heading" style="padding: 0 0">
                    <div class="add-edition" style="right: 0px;">
                        <h3 class="panel-title">Sual əlavə et</h3>
                        <div id="add-edition-image"><img src="assets/img/AddNew.png" alt="" width="20" height="20"></div>
                        <div class="panel-body param-block" style="padding: 0">
                            <div class="blank-panel no_information"><h3 data-i18n="no_information">No available information</h3></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div id="append_res_param" class="panel-body add-page" style="padding: 0"></div>
            </div>
            <div class="form-group col-md-12">
                <div class="form-group">
                    <label>Qeyd</label>
                    <textarea rows="5" cols="90" class="form-control" id="ticket_note"></textarea>
                </div>
            </div>
        </div>
        <div class="modal  resource-edition-modal add-page" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content add-sual" col-md-12>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 data-i18n="resources_other_info" class="modal-title">Suallar strukturu</h4>
                    </div>

                    <div class="modal-body col-md-12"  style="float: left;">
<!--                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Sualın Növü</label>
                                <select class="form-control" id="quest_type" data-ticket-required></select>
                            </div>
                        </div>-->
                        <!--                        <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Sualın Tipi</label>
                                                        <select class="form-control" id="quest_tipi" data-ticket-required></select>
                                                    </div>
                                                </div>-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Çətinlik dərəcəsi</label>
                                <select class="form-control" id="quest_difficulty" data-ticket-required></select>
                            </div>
                        </div>
                        <div class="col-md-6">        
                            <div class="form-group">
                                <label data-i18n="" >Dil</label>
                                <select class="form-control" id="language" data-ticket-required></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Sual sayı</label>
                                <input type="number" class="form-control" id="quest_count_in_modal" data-ticket-required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer flex-img">
                        <button data-i18n="ok"  data class="btn btn-primary confirm-res-param">OK</button>
                        <button data-i18n="close" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        Exam.i18n(Exam.lang);
        $('.search-scroll').slimScroll();
        $('#quest_topic').select2();
        $('#quest_subject').select2();

        Exam.Proxy.loadDictionariesByTypeId(Exam.Type.EXAM_TYPE, '0', function (examType) {
            if (examType) {
                var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
                $.each(examType, function (i, v) {
                    html += '<option value = "' + v.id + '">' + v.value[Exam.lang] + '</option>'
                });
                $('#exam_type').html(html);
            }
        });
//            Exam.Proxy.loadDictionariesByParentCode(Exam.Codes.EXAM_TYPE, function (examType) {
//            if (examType) {
//                var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
//                $.each(examType, function (i, v) {
//                    html += '<option value = "' + v.id + '">' + v.value[Exam.lang] + '</option>'
//                });
//                $('#exam_type').html(html);
//                }
//            });
//            Exam.Proxy.loadDictionariesByParentCode(Exam.Codes.EXAM_FORM_TYPE, function (examType) {
//            if (examType) {
//                var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
//                $.each(examType, function (i, v) {
//                    html += '<option value = "' + v.id + '">' + v.value[Exam.lang] + '</option>'
//                });
//                $('#exam_form').html(html);
//                }
//            });
//            Exam.Proxy.loadDictionariesByTypeId(Exam.Type.EDU_SEMESTER, '0', function (eduSemestr) {
//            if (eduSemestr) {
//                var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
//                $.each(eduSemestr, function (i, v) {
//                    html += '<option value = "' + v.id + '">' + v.value[Exam.lang] + '</option>'
//                });
//                $('#edu_year_part').html(html);
//                }
//            });
        Exam.Proxy.loadDictionariesByParentCode(Exam.Codes.EDU_LANG, function (eduLang) {
            if (eduLang) {
                var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
                $.each(eduLang, function (i, v) {
                    html += '<option value = "' + v.id + '">' + v.value[Exam.lang] + '</option>'
                });
                $('#language').html(html);
            }
        });
        Exam.Proxy.loadDictionariesByParentCode(Exam.Codes.QUESTION_LEVEL, function (questionLevel) {
            if (questionLevel) {
                var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
                $.each(questionLevel, function (i, v) {
                    html += '<option value = "' + v.id + '">' + v.value[Exam.lang] + '</option>'
                });
                $('#quest_difficulty').html(html);
            }
        });
//            Exam.Proxy.loadEduYear(function (eduYear) {
//                
//            if (eduYear) {
//                var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
//                html += '<option value='+eduYear.data.id+'>' + eduYear.data.value[Exam.lang] + '</option>';
//                
//                $('#edu_year').html(html);
//                }
//            });
        Exam.Proxy.loadDictionariesByParentCode(Exam.Codes.QUESTION_TIPI, function (questionTipi) {
            if (questionTipi) {
                var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
                $.each(questionTipi, function (i, v) {
                    html += '<option code="' + v.code + '" value = "' + v.id + '">' + v.value[Exam.lang] + '</option>'
                });
                $('#quest_tipi').html(html);
            }
        });

        $('#uni_name').on('change', function () {
            var id = $(this).val();
            var text = $(this).find('option:selected').text();

            Exam.Proxy.getStructureListByFilter(id, '', function (data) {
                if (data && data.data) {
                    var facultyHtml = '';
                    var departmentHtml = '';
                    var faculty = data.data.facultyList;
                    var department = data.data.departmentList;

                    facultyHtml = '<option value = "0">Fakültə</option>'
                    $.each(faculty, function (i, v) {
                        facultyHtml += '<option value = "' + v.id + '">' + v.name[Exam.lang] + '</option>'
                    })

                    $('#faculty').html(facultyHtml);

                    departmentHtml = '<option value ="0">Kafedra</option>'
                    $.each(department, function (i, v) {
                        departmentHtml += '<option value = "' + v.id + '">' + v.name[Exam.lang] + '</option>'
                    })

                    $('#department').html(departmentHtml);

                    $('.btn-load-more').removeAttr('data-page');
                    var queryparams = $('.main-content-upd .student-search-form').serialize();
//                        Exam.Proxy.loadStudents('', queryparams);

                }
            })
        });
//        
//            Exam.Proxy.loadGroups(function (groups) {
//                if (groups) {
//                    var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
//                    $.each(groups.data, function (i, v) {
//                        html += '<option value = "' + v.id + '">' + v.code + '</option>'
//                    });
//                    $('#group').html(html);
//                }
//            });
//            $('#group').select2({
//                placeholder: Exam.dictionary[Exam.lang]["subjects"],
//                language: {
//                    noResults: function () {
//                        return Exam.dictionary[Exam.lang]["no_information"];
//                    }
//                }
//            });  

//       $('#group').on('change', function () {
//            var groupId = $(this).val();
//            Exam.Proxy.loadCoursesByGroupId(groupId, function (groups) {
//                var data = groups.data
//                if (groups) {
//                    $('#language').val(data.eduLang.id);
//                    $('#edu_plan').val(data.eduPlanId);
//                    $('#edu_level').val(data.specialityEduLevelId);
//                    $('#edu_year').find('option[value="' + data.eduYear.id + '"]').prop('selected', true);
//                    $('#edu_year_part').val(data.eduPlanSemestrId);
//                }
//            });
//        });

//        Exam.Proxy.loadDictionariesByParentCode(Exam.Codes.QUESTION_LEVEL, function (questionLevel) {
//            if (questionLevel) {
//                var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
//                $.each(questionLevel, function (i, v) {
//                    html += '<option value = "' + v.id + '">' + v.value[Exam.lang] + '</option>'
//                });
//                $('#quest_level').html(html);
//            }
//        });

//        Exam.Proxy.loadDictionariesByParentCode(Exam.Codes.QUESTION_TYPE, function (questionType) {
//            if (questionType) {
//                var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
//                $.each(questionType, function (i, v) {
//                    html += '<option code="' + v.code + '" value = "' + v.id + '">' + v.value[Exam.lang] + '</option>'
//                });
//                $('#quest_type').html(html);
//            }
//        });

        Exam.Proxy.loadDictionariesByParentCode(Exam.Codes.EDU_LANG, function (eduLang) {
            if (eduLang) {
                var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
                $.each(eduLang, function (i, v) {
                    html += '<option value = "' + v.id + '">' + v.value[Exam.lang] + '</option>'
                });
                $('#quest_lang').html(html);
            }
        });

        Exam.Proxy.loadDictionariesByParentCode(Exam.Codes.SUBJECT, function (subjects) {
            if (subjects) {
                var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
                $.each(subjects, function (i, v) {
                    html += '<option value= "' + v.id + '">' + v.value[Exam.lang] + '</option>'
                });
                $('#quest_subject').html(html);
            }
        });
        Exam.Proxy.loadDictionariesByParentCode(Exam.Codes.TOPIC, function (data) {
            if (data) {
                var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
                $.each(data, function (i, v) {
                    html += '<option value="' + v.id + '">' + v.value[Exam.lang] + '</option>';
                });
                $('#quest_topic').html(html);
            }
        });

        $('#main-div').on('change', '#quest_file, .variant_file', function (e) {
            try {
                var fileName = this.files[0].name;
                $(this).closest('label').siblings('span.file-name').text(fileName);
            } catch (err) {
                console.error(err);
            }
        });

//        $('#main-div').on('change', '#quest_type', function (e) {
//            try {
//                var type = $(this).find('option:selected').attr('code');
//                var inputType = '';
//                switch (type) {
//                    case "ONE_CHOISE":
//                        inputType = "radio";
//                        break;
//                    case "MULTIPLE_CHOISE":
//                        inputType = "checkbox";
//                        break;
//                }
//                if (type == "OPEN_QUEST") {
//                    $('.question_choises').addClass('hidden');
//                } else {
//                    $('.question_choises').removeClass('hidden');
//                }
//                if (type != "") {
//                    $('input[name="rightChoise"]').each(function (i, v) {
//                        if ($(this).is(':checked')) {
//                            $(this).prop('checked', false);
//                        }
//                        $(this).attr('type', inputType);
//                    });
//                }
//            } catch (err) {
//                console.error(err);
//            }
//        });

    });
</script>
