<div class="" >
    <div class="panel-heading" style="    margin: 0 -15px;">

        <!--<a href="#" class="save-button"><img src="assets/img/save-icon.png" alt="Save" width="20" height="20">-->
        <div class="row">
            <div class="col-md-8">
                <!--<h3 class="m-t-6" data-i18n="" class="panel-title">İmtahan </h3>-->
            </div>
            <div class="col-md-2">
                <button id="exam_edit" data-i18n="save" type="submit" class="btn btn-primary btn-block pincode-button-next">Yadda saxla</button>
            </div>
            <div class="col-md-2">
                <button id="back" data-i18n="back" type="submit" class="btn btn-primary btn-block pincode-button-back">Geri</button>
            </div>
        </div>

    </div>
    <form class="user-search-form">
        <input type="hidden" name="roleId">
        <input type="hidden" name="orgId">
        <input type="hidden" name="keyword">
    </form>

    <form class="exam-edit-form">
        <div class="panel-body " style="margin: 0 -15px;">
            <div class="row exam">        
                <div class="form-group col-md-12 intihar">
                    <div class="form-group col-md-6">
                        <div class="form-group col-md-12 netice-kotuce">
                            <label style="float: left">Nəticəni göstər</label>
                            <input value = "1" name = "resultVisibility" type="checkbox" class="exresult" style="opacity: 1; position: sticky;">
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="form-group col-md-12">
                        <div class="col-md-6 hidden">
                            <div class="form-group">
                                <label>Təşkilati struktur</label>
                                <!--<select class="form-control" id="uni" name="courseId" value="1000001">Nobel Group</select>-->
                                <input name="courseId" value="1000001"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label data-i18n="" >İmtahan müddəti(dəqiqə)</label>
                                <input type="text" class="form-control" id="exam_duration" name="examDuration">
                            </div>
                        </div>                <div class="col-md-6">
                            <div class="form-group">
                                <label data-i18n="" >Keçid faizi</label>
                                <input type="number" class="form-control" id="point_barrier" name="pointBarrier">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label data-i18n="" >Başlama tarixi</label>
                                <input type="text" class="form-control datepicker" name="examStartDate" data-date-format="dd/mm/yyyy" id="exam_start_date">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label data-i18n="" >Bitmə tarixi</label>
                                <input type="text" class="form-control datepicker" name="examFinishDate" data-date-format="dd/mm/yyyy" id="exam_finish_date">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label data-i18n="" >Başlama vaxtı</label>
                                <input type="text" class="form-control timepicker" name="examStartTime" data-format="MM/dd/yyyy" id="exam_start_time">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label data-i18n="" >Bitmə vaxtı</label>
                                <input type="text" class="form-control timepicker" name="examFinishTime" data-format="MM/dd/yyyy" id="exam_finish_time">
                            </div>
                        </div>
                    </div>            
                    <div class="form-group col-md-12 students-check hidden">    
                        <label data-i18n="" >Tələbələr</label>
                        <table id="course-student-table" class="table table-celled table-hover long-last-td" style="white-space: pre-line">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>S.A.A</th>
                                    <th>Təşkilati struktur</th>
                                    <th><input type='checkbox' class="all-student-check" style="opacity: 1; position: sticky;"/></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(function () {
        Exam.i18n(Exam.lang);
        $('.search-scroll').slimScroll();
        $('.datepicker').datepicker();
        $('.timepicker').datetimepicker({
//            format: 'hh:mm' //LT
            format: 'HH:mm'
        });

        $('#group').select2({
////            placeholder: Exam.dictionary[Exam.lang]["subjects"],
            language: {
                noResults: function () {
                    return Exam.dictionary[Exam.lang]["no_information"];
                }
            }
        });

        $('#uni').on('change', function () {
            var id = $(this).val();
            $('body').attr('data-org-id', id);
            $('.user-search-form input[name="orgId"]').val(id);
            var params = $('#main-div .user-search-form').serialize();
            Exam.Proxy.loadUsers('', params, function (data) {
                if (data.userList) {
                    var html = '';
                    $.each(data.userList, function (i, v) {
                        html += '<tr>' +
                                '<td>' + (++i) + '</td>' +
                                '<td>' + v.fullName + '</td>' +
                                '<td>' + v.orgName.value[Exam.lang] + '</td>' +
                                '<td><input name="participants" value = "' + v.account.id + '"type="checkbox" class="student-check" style="opacity: 1; position: sticky;"/></td>' +
                                '</tr>'
                    })
                    $('#course-student-table tbody').html(html);
                    $('.students-check').removeClass('hidden')
                } else {
                    $('.students-check').addClass('hidden');
                }
            });
        });

    });
</script>
