<div style="display: none; padding-right: 17px;" class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" id="exportModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="modal-pdf col-md-4">
                        <a class="export" data-value="pdf" href="#"><img class="a-export" src="assets/img/pdf-icon.png" width="150" height="150" alt="pdf"></a>
                    </div>
                    <div class="modal-excel col-md-4">
                        <a class="export"  data-value="xls" href="#"><img class="a-export" src="assets/img/excel-icon.png" width="150" height="150" alt="xls"></a>
                    </div>
                    <div class="modal-html col-md-4">
                        <a class="export" data-value="html" href="#"><img class="a-export" src="assets/img/html-icon.png" width="150" height="150" alt="html"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="content-header">
    <div class="con-head-left">
        <span data-i18n="questions" placeholder="Suallar" class="hed-title"></span>
    </div>
    <div class="con-head-right">

        <div id="buttons_div" class="dropdown-func" style="float: right">
            <div class="btn btn-default reg dropdown-toggle cog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                Ümumi əməliyyatlar
            </div>
            <ul id="module_operations" class="dropdown-menu calibrated">
            </ul>
        </div>
        <button class="filter_btn filter" style="float: right;">Filter 
                <!-- <img src="assets/img/filter_icon.svg" alt=""> -->
               </button>
        <div class="prepend-icon" >
                <input data-i18n="placeholder.search" id="question_search" type="search" placeholder="Search">
        </div>

    </div>
</div>
<form class="question-search-form">
    <input type="hidden" name="keyword">
    <input type="hidden" name="subjectId">
    <input type="hidden" name="eduLevelId">
    <input type="hidden" name="questionLevelId">
    <input type="hidden" name="questionTypeId">
    <input type="hidden" name="langId">
    <input type="hidden" name="tipiId">
</form>
<div class="filters-block module_1000011">
<!--    <div class="btn-group">
        <select id="edu_plan_select">
            <option value="0" data-i18n="subject">Tədris planı</option>
        </select>
    </div>-->
<!--    <div class="btn-group">
        <select id="question_tipi">
            <option value="0" data-i18n="topic"></option>
        </select>
        <i style="position:absolute; top: 9px; font-size: 15px; right: 12px;" class="fa fa-angle-down"></i>
    </div>-->
<!--    <div class="btn-group">
        <select id="question_tipi">
            <option value="0" data-i18n="">Sualın tipi</option>
        </select>
    </div>-->
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown" aria-expanded="false" >
            <span data-i18n="question_complexity">Sualın çətinliyi</span> 
            <i class="fa fa-angle-down"></i>
        </button>
        <ul data-name="questionLevelId" id="question_level" class="dropdown-menu dropdown-filter">
        </ul>
    </div>
<!--    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span data-i18n="question_type" >Sualın növü</span> <i class="fa fa-angle-down"></i>
        </button>
        <ul data-name="questionTypeId" id="question_type" class="dropdown-menu dropdown-filter">
        </ul>
    </div>    -->
    <div class="btn-group">
        <select id="question_lang">
            <option value="0" data-i18n="">Dil</option>
        </select>
    </div>
</div>

<div class="row">
        <div class="col-sm-12 data">
            <div  class="panel panel-white table-scroll">
                <div class="table-responsive">
                    <table id="question_list" class="table table-celled table-hover">
                        <thead>
                            <tr>
                                <th>№</th>
                                <!--<th data-i18n="">İmtahan sualı</th>-->
                                <th data-i18n="topic_type">Mövzu</th>
                                <th data-i18n="topic">Fənn</th>
                                <!--<th data-i18n="">Tədris planı</th>-->
                                <th data-i18n="question_complexity">Sualın çətinliyi</th>
                                <th data-i18n="question_type">Sualın növü</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                </div>        
                <div class="space-for-footer">
                    <div id="load_more_div" class="flex-input">
                        <button  data-i18n="load.more" data-table="questions" class="btn loading-margins btn-load-more">Load more</button>
                    </div>
                </div>

            </div>
        </div>    
    <div class="col-sm-4 info te">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 data-i18n="info" class="panel-title">Info</h3>
                <div class="panel-close"><img src="assets/img/upd/close.svg" alt=""></div>
                <div class="type_2_btns"></div>
            </div>
            <div class="panel-body">
              
                <div class="col-xs-12 definition-list">
                     <dl id="question_content" class="dl-horizontal" style="font-size: 15px; display:  inline-table">
                        </dl>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="add-new">
       <div class="search-scroll"></div>
    </div>

<script>
$( ".filter_btn" ).click(function() {
    $( ".filters-block" ).slideToggle( "slow" );
  });

    $(function () {
        Exam.i18n(Exam.lang);



        $('#question_tipi').select2({
            placeholder: Exam.dictionary[Exam.lang]["subjects"],
            language: {
                noResults: function () {
                    return Exam.dictionary[Exam.lang]["no_information"];
                }
            }
        });
        
        Exam.Proxy.loadOperations(Exam.currModule, function (operations) {
            $('#buttons_div').find('ul').html(Exam.Service.parseOperations(operations, 1));
        });

        $('#main-div .sub_modules_div').remove();
        $('.module-list').find('.sub-module-con').remove();
        $('body').find('.table-scroll').slimScroll();
        Exam.Proxy.loadDictionariesByParentCode(Exam.Codes.EDU_LEVEL, function (eduLevels) {
            if (eduLevels) {
                var html = '';
                $.each(eduLevels, function (i, v) {
                    html += '<li data-id="' + v.id + '"><a href="#">' + v.value[Exam.lang] + '</a></li>';
                });
                $('#edu_levels').html(html);

            }
        });
        Exam.Proxy.loadDictionariesByParentCode(Exam.Codes.EDU_LANG, function (eduLang) {
            if (eduLang) {
                var html = '<option value="">Dil</option>';
                $.each(eduLang, function (i, v) {
                    html += '<option value = "' + v.id + '">' + v.value[Exam.lang] + '</option>'
                });
                $('#question_lang').html(html);
            }
        });

        Exam.Proxy.loadDictionariesByParentCode(Exam.Codes.QUESTION_TIPI, function (questionTipi) {
            if (questionTipi) {
                var html = '<option value="">Sual Tipi</option>';
                $.each(questionTipi, function (i, v) {
                    html += '<option code="' + v.code + '" value = "' + v.id + '">' + v.value[Exam.lang] + '</option>'
                });
                $('#question_tipi').html(html);

            }
        });
        
        Exam.Proxy.loadDictionariesByParentCode(Exam.Codes.QUESTION_LEVEL, function (questionLevel) {
            if (questionLevel) {
                var html = '';
                $.each(questionLevel, function (i, v) {
                    html += '<li data-id = "' + v.id + '"><a href="#">' + v.value[Exam.lang] + '</a></li>'
                });
                $('#question_level').html(html);
            }
        });

        Exam.Proxy.loadDictionariesByParentCode(Exam.Codes.QUESTION_TYPE, function (questionType) {
            if (questionType) {
                var html = '';
                $.each(questionType, function (i, v) {
                    html += '<li data-id = "' + v.id + '"><a href="#">' + v.value[Exam.lang] + '</a></li>'
                });
                $('#question_type').html(html);
            }
        });
        
                    Exam.Proxy.loadDictionariesByParentCode(Exam.Codes.TOPIC, function (data) {
                        if (data) {
                            var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
                            $.each(data, function (i, v) {
                                html += '<option value="' + v.id + '">' + v.value[Exam.lang] + '</option>';
                            });
                            $('#question_tipi').html(html);
                        }
                    });

        var params = $('.question-search-form').serialize();
        
        Exam.Proxy.loadQuestions('', params);

        $('.modal-content').draggable();

        $('.datepicker').datepicker();

        $('#main-div').on('change', '#quest_subject_select_filter', function (e) {
            try {
                var subjectId = $('#quest_subject_select_filter').find('option:selected').val();
                if (subjectId > 0) {
                    $('input[name="subjectId"]').val(subjectId);

                }
                else {
                    $('input[name="subjectId"]').val('');
                }
                $('.btn-load-more').removeAttr('data-page');
                var params = $('.question-search-form').serialize();
                Exam.Proxy.loadQuestions('', params);
            }
            catch (err) {
                console.error(err);
            }
        });
        $('#main-div').on('change', '#question_tipi', function (e) {
            try {
                var questTipi = $('#question_tipi').find('option:selected').val();
                if (questTipi > 0) {
                    $('input[name="tipiId"]').val(questTipi);

                }
                else {
                    $('input[name="tipiId"]').val('');
                }
                $('.btn-load-more').removeAttr('data-page');
                var params = $('.question-search-form').serialize();
                Exam.Proxy.loadQuestions('', params);
            }
            catch (err) {
                console.error(err);
            }
        });
        $('#main-div').on('change', '#question_lang', function (e) {
            try {
                var langId = $('#question_lang').find('option:selected').val();
                if (langId > 0) {
                    $('input[name="langId"]').val(langId);

                }
                else {
                    $('input[name="langId"]').val('');
                }
                $('.btn-load-more').removeAttr('data-page');
                var params = $('.question-search-form').serialize();
                Exam.Proxy.loadQuestions('', params);
            }
            catch (err) {
                console.error(err);
            }
        });

        $('#main-div').on('click', '.dropdown-filter li', function () {
            try {
                var id = $(this).attr('data-id');
                var name = $(this).parent('ul').attr('data-name');
                if (id != 0) {
                    $('.question-search-form input[name="' + name + '"]').val(id);
                }
                else {
                    $('.question-search-form input[name="' + name + '"]').val('');
                }
                $('.btn-load-more').removeAttr('data-page');
                var params = $('.question-search-form').serialize();
                Exam.Proxy.loadQuestions('', params);
            }
            catch (err) {
                console.error(err)
            }
        });
        
        $('#main-div').on('click','#operation_ADD_QUEST',function() {
            try {
                $('body .add-new .search-scroll').load('partials/question_add.html');
                 $('body').find('.add-new').css('right', '0');
                
            }
            catch(err) {
                console.error(err);
            }
        });
        
    });
</script>
