<style>
.DLtoExcel{
    float: right;
    height: 34px;
    border-radius: 24px;
    background-color: #338bf8 !important;
    border: solid 1px #338bf8 !important;
    padding: 0 33px 0 35px;
    position: relative;
    font-size: 14px;
    margin-left: 32px;
    color: #fff;
    margin-right: 3px;
    outline: none;
}</style>

<div style="display: none; padding-right: 17px;" class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" id="exportModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="modal-pdf col-md-4">
                        <a class="export" data-value="pdf" href="#"><img class="a-export" src="assets/img/pdf-icon.png" width="150" height="150" alt="pdf"></a>
                    </div>
                    <div class="modal-excel col-md-4">
                        <a class="export"  data-value="xls" href="#"><img class="a-export" src="assets/img/excel-icon.png" width="150" height="150" alt="xls"></a>
                    </div>
                    <div class="modal-html col-md-4">
                        <a class="export" data-value="html" href="#"><img class="a-export" src="assets/img/html-icon.png" width="150" height="150" alt="html"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
    <form class="result-search-form">


<div class="content-header">
    <div class="con-head-left">
        <span data-i18n="" placeholder="Suallar" class="hed-title">İmtahan nəticələri</span>
    </div>

    <div class="con-head-right">
        <div id="dvjson"></div>
        <button id="DLtoExcel" class="DLtoExcel">ExportAsExcel</button>

        <div id="buttons_div" class="dropdown-func" style="float: right">
            <div class="btn btn-default reg dropdown-toggle cog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                Ümumi əməliyyatlar
            </div>
            <ul id="module_operations" class="dropdown-menu calibrated">
            </ul>
        </div>        <button class="filter_btn filter" style="float: right;">Filter
                 <img src="assets/img/filter_icon.svg" alt="">
               </button>
        <div class="prepend-icon" >
                <input data-i18n="placeholder.search" id="question_search" type="search" placeholder="Search" name=""participantName>
        </div>

    </div>
</div>


<div class="filters-block module_1000172">

    <div class="btn-group">
        <select id="result_filter" name="examResultCode">
            <option value="0">Hamisi</option>
            <option value="1">Pass</option>
            <option value="2">Fail</option>
        </select>
    </div>
                    <div class="btn-group">
                        <input type="text" class="form-control datepicker" data-date-format="dd/mm/yyyy" id="result_date_filter" placeholder="Tarix" name="examFinishDate">
                    </div>
</div>
</form>

<div class="row">
    <div class="col-sm-12 data">
        <div  class="panel panel-white table-scroll">
            <div class="table-responsive">
                <table id="f_exams_list" class="table table-celled table-hover">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Tələbə SAA</th>
                            <!--<th>Fənnin adı</th>-->
                            <th>İmtahan tarixi</th>
                            <th>İmtahan müddəti</th>
                            <th>Keçid</th>
                            <th>Nəticə</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="space-for-footer">
                <div id="load_more_div" class="flex-input">
                    <button  data-i18n="load.more" data-table="tickets" class="btn loading-margins btn-load-more">Load more</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 info te">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 data-i18n="info" class="panel-title">Info</h3>
                <div class="panel-close"><img src="assets/img/upd/close.svg" alt=""></div>
                <div class="type_2_btns"></div>
            </div>
            <div class="panel-body">

                <div class="col-xs-12 def-list">
                    <div><span>Sual sayı: </span><span class="question_count"></span></div>
                    <div><span>Düzgün cavablar: </span><span class="right_answer_count"></span></div>
                    <div><span>Yanlış cavablar: </span><span class="false_answer_count"></span></div>
                    <div><span>Cavablandırılmamış: </span><span class="empty_answer_count"></span></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="add-new">
   <div class="search-scroll"></div>
</div>





<script>
    $( ".filter_btn" ).click(function() {
        $( ".filters-block" ).slideToggle( "slow" );
    });
    $(function () {
        $('body').on('click', '#DLtoExcel', function(){
            var params = $('.result-search-form').serialize();
             Exam.Proxy.getFinishedExamsList2('', params, function (data) {
                 var excelData = [];
                jQuery.each( data, function( i, val ) {
                    excelData.push(
                        {
                            '#': i+1,
                            'Student':  val.user.name,
                            'Exam Date': val.examDate ,
                            'Exam Time': val.examStartTime + ' - ' + val.examFinishTime,
                            'Point Barrier': val.pointBarrier + '%',
                            'Exam Result Point': val.userPercent +'%'
                        }
                    )
                });
                if (data || data.length != 0) {
                       $("#dvjson").excelexportjs({
                        containerid: "dvjson"
                       , datatype: 'json'
                       , dataset: excelData
                       , columns: getColumns(excelData)
                    });
                }
            });
        });
            var params = $('.result-search-form').serialize();

        $('body').find('.table-scroll').slimScroll();
        Exam.Proxy.loadOperations(Exam.currModule, function (operations) {
            $('#buttons_div').find('ul').html(Exam.Service.parseOperations(operations, 1));
        });

            Exam.Proxy.getFinishedExamsList('', params);
        Exam.i18n(Exam.lang);


        $('#group_filter').select2({
            placeholder: Exam.dictionary[Exam.lang]["groups"],
            language: {
                noResults: function () {
                    return Exam.dictionary[Exam.lang]["no_information"];
                }
            }
        });
        $('body').on('click', '#operation_1001504',function() {
        $('#ticket_list tbody tr').each(function (i, v) {
           var tr = $(this).attr('data-id');
            var note = $(this).attr('data-note');
			if(tr){
				try {
					$('body').attr('data-note', note);
					Exam.Proxy.loadTicketQuestionsTEST(tr);
				} catch (err) {
					console.error(err);
				}
			}
       });
                        $('body .add-new .search-scroll').load('partials/ticket_for_pdf_TEST.html');
               $('body').find('.add-new').css('right', '0');
    });

        $('#quest_subject_select').select2({
            placeholder: Exam.dictionary[Exam.lang]["subject"],
            language: {
                noResults: function () {
                    return Exam.dictionary[Exam.lang]["no_information"];
                }
            }
        });
        Exam.Proxy.getStructureListByFilter(0, 0, function (data) {
            if (data && data.data) {
                var html = '';
                var faculty = data.data.facultyList;
                var facultyCount = data.data.facultyList.length;
                var departmentCount = data.data.departmentList.length;
                var department = data.data.departmentList;

                if (departmentCount <= 1) {
                    html = '';
                    $('#department_filter').attr('disabled', 'disabled')

                    $.each(department, function (i, v) {

                        html += '<option value = "' + v.id + '">' + v.name[Exam.lang] + '</option>'
                    })
                    $('#department_filter_select').html(html)
                } else {
                    html = '<option value = "0">Kafedra</option>'

                    $.each(department, function (i, v) {
                        html += '<option value = "' + v.id + '">' + v.name[Exam.lang] + '</option>'
                    })
                    $('#department_filter_select').html(html)
                }
                if (facultyCount <= 1) {
                    html = '';
                    $('#org_faculty_filter_select').attr('disabled', 'disabled')

                    $.each(faculty, function (i, v) {

                        html += '<option value = "' + v.id + '">' + v.name[Exam.lang] + '</option>'
                    })

                    $('#org_faculty_filter_select').html(html)

                } else {

                    html = '<option value = "0">Fakültə</option>'

                        $.each(faculty, function (i, v) {

                        html += '<option value = "' + v.id + '">' + v.name[Exam.lang] + '</option>'
                    })
                    $('#org_faculty_filter_select').html(html)
                }
            }
        });




//        Exam.Proxy.loadOperations(Exam.currModule, function (operations) {
//            $('#buttons_div').find('ul').html(Exam.Service.parseOperations(operations, 1));
//
//        });
//
//        $('#main-div .sub_modules_div').remove();
//        $('.module-list').find('.sub-module-con').remove();
//
//
//
//        Exam.Proxy.loadDictionariesByParentCode(Exam.Codes.EDU_LEVEL, function (eduLevels) {
//            if (eduLevels) {
//                var html = '';
//                $.each(eduLevels, function (i, v) {
//                    html += '<li data-id="' + v.id + '"><a href="#">' + v.value[Exam.lang] + '</a></li>';
//                });
//                $('#edu_levels').html(html);
//
//            }
//        });
//
//        Exam.Proxy.loadDictionariesByParentCode(Exam.Codes.QUESTION_LEVEL, function (questionLevel) {
//            if (questionLevel) {
//                var html = '';
//                $.each(questionLevel, function (i, v) {
//                    html += '<li data-id = "' + v.id + '"><a href="#">' + v.value[Exam.lang] + '</a></li>'
//                });
//                $('#question_level').html(html);
//
//            }
//        });
//
//        Exam.Proxy.loadDictionariesByParentCode(Exam.Codes.QUESTION_TYPE, function (questionType) {
//            if (questionType) {
//                var html = '';
//                $.each(questionType, function (i, v) {
//                    html += '<li data-id = "' + v.id + '"><a href="#">' + v.value[Exam.lang] + '</a></li>'
//                });
//                $('#question_type').html(html);
//
//            }
//        });

//        Exam.Proxy.loadSubjects(function (subjects) {
//            if (subjects) {
//                var html = '<option value=""></option>';
//                $.each(subjects, function (i, v) {
//                    html += '<option value= "' + v.id + '">' + v.subject.value[Exam.lang] + '</option>'
//                });
//                $('#subjects').html(html);
//            }
//
//        });


        $('.modal-content').draggable();

        $('.datepicker').datepicker();

        $('#main-div').on('change', '#subjects', function (e) {
            try {
                var subjectId = $('#subjects').find('option:selected').val();
                if (subjectId > 0) {
                    $('input[name="subjectId"]').val(subjectId);

                }
                else {
                    $('input[name="subjectId"]').val('');
                }
                $('.btn-load-more').removeAttr('data-page');
                var params = $('.question-search-form').serialize();
                //Exam.Proxy.loadQuestions('', params);
            }
            catch (err) {
                console.error(err);
            }

        });

        $('#main-div').on('click', '.dropdown-filter li', function () {
            try {
                var id = $(this).attr('data-id');
                var name = $(this).parent('ul').attr('data-name');
                if (id != 0) {
                    $('.question-search-form input[name="' + name + '"]').val(id);
                }
                else {
                    $('.question-search-form input[name="' + name + '"]').val('');
                }
                $('.btn-load-more').removeAttr('data-page');
                var params = $('.question-search-form').serialize();
                //Exam.Proxy.loadQuestions('', params);
            }
            catch (err) {
                console.error(err)
            }
        });

        $('#main-div').on('keypress', '#ticket_search', function (e) {
            try {

                if (e.keyCode == 13) {
                    var keyword = $(this).val();

                    if (keyword.trim().length > 2) {
                        $('.btn-load-more').removeAttr('data-page');
                        $('.ticket-search-form input[name="keyword"]').val(keyword);
                        var queryparams = $('.ticket-search-form').serialize();
                        Exam.Proxy.getTickets('', queryparams);
                    }
                    else if (keyword.trim().length == 0) {
                        $('.btn-load-more').removeAttr('data-page');
                        $('.ticket-search-form input[name="keyword"]').val('');
                        var params = $('.ticket-search-form').serialize();
                        Exam.Proxy.getTickets('', params);
                    }
                }

            }
            catch (err) {
                console.error(err);
            }
        });

        $('body').on('click', '#operation_1001405',function() {
            try {
                $('body .add-new .search-scroll').load('partials/add_ticket.html');
                 $('body').find('.add-new').css('right', '0');

            }
            catch(err) {
                console.error(err);
            }
        });

                   $('body').on('change', '#result_date_filter', function () {
            $('body').find('.col-sm-4.res-info').fadeOut();
            $('body').find('.col-sm-8.data').removeClass('col-sm-8').addClass('col-sm-12');
            var params = $('.result-search-form').serialize();
            Exam.Proxy.getFinishedExamsList('', params);
            $('.btn-load-more').remove('data-page')
        });
           $('body').on('change', '#result_filter', function () {
            $('body').find('.col-sm-4.res-info').fadeOut();
            $('body').find('.col-sm-8.data').removeClass('col-sm-8').addClass('col-sm-12');
            var params = $('.result-search-form').serialize();
            Exam.Proxy.getFinishedExamsList('', params);
            $('.btn-load-more').remove('data-page')
        });

    });
</script>
