<div style="display: none; padding-right: 17px;" class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" id="exportModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="modal-pdf col-md-4">
                        <a class="export" data-value="pdf" href="#"><img class="a-export" src="assets/img/pdf-icon.png" width="150" height="150" alt="pdf"></a>
                    </div>
                    <div class="modal-excel col-md-4">
                        <a class="export"  data-value="xls" href="#"><img class="a-export" src="assets/img/excel-icon.png" width="150" height="150" alt="xls"></a>
                    </div>
                    <div class="modal-html col-md-4">
                        <a class="export" data-value="html" href="#"><img class="a-export" src="assets/img/html-icon.png" width="150" height="150" alt="html"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="content-header">
    <div class="con-head-left">
        <span data-i18n="questions" placeholder="Suallar" class="hed-title"></span>
    </div>
    <div class="con-head-right">

        <div id="buttons_div" class="dropdown-func" style="float: right">
            <div class="btn btn-default reg dropdown-toggle cog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                Ümumi əməliyyatlar
            </div>
            <ul id="module_operations" class="dropdown-menu calibrated">
            </ul>
        </div>
        <button class="filter_btn filter" style="float: right;">Filter 
                <!-- <img src="assets/img/filter_icon.svg" alt=""> -->
               </button>
        <div class="prepend-icon" >
                <input data-i18n="placeholder.search" id="question_search" type="search" placeholder="Search">
        </div>

    </div>
</div>

<form class="exam-search-form">
    <input type="hidden" name="keyword">
    <input type="hidden" name="courseId">
    <input type="hidden" name="examDate">
</form>

<div class="filters-block module_1000011">

    <div class="btn-group">
        <select id="subjects">
            <option value="0" data-i18n="subject">Subject</option>
        </select>
    </div>
                    <div class="btn-group">
                        <input type="text" class="form-control datepicker" data-date-format="dd/mm/yyyy" id="exam_date_filter" placeholder="Tarix">
                    </div>
</div>

<div class="row">
    <div class="col-sm-12 data">
        <div  class="panel panel-white table-scroll">

            <div class="table-responsive">

                <table id="exam_list" class="table table-celled table-hover">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Təşkilati struktur</th>
                            <th>Başlama tarixi</th>
                            <th>Bitmə tarixi</th>
                            <th>Müddəti</th> 
                            <th></th> 
                        </tr>
                    </thead>
                    <tbody>
                       
                    </tbody>
                </table>
            </div>        
            <div class="space-for-footer">
                <div id="load_more_div" class="flex-input">
                    <button  data-i18n="load.more" data-table="questions" class="btn loading-margins btn-load-more">Load more</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="add-new">
   <div class="search-scroll"></div>
</div>
<script>

$( ".filter_btn" ).click(function() {
        $( ".filters-block" ).slideToggle( "slow" );
    });

    $(function () {
        Exam.i18n(Exam.lang);
        $('.datepicker').datepicker();
        $('body').find('.table-scroll').slimScroll();

        $('#subjects').select2({
            placeholder: Exam.dictionary[Exam.lang]["subjects"],
            language: {
                noResults: function () {
                    return Exam.dictionary[Exam.lang]["no_information"];
                }
            }
        });
//
        Exam.Proxy.loadOperations(Exam.currModule, function (operations) {
            
            $('#buttons_div').find('ul').html(Exam.Service.parseOperations(operations, 1));
            Exam.Proxy.getExamList();
             
        });
    });
</script>
