<div class="ticket-for-pdf" >
    <div class="panel-heading" style="margin: 0 -15px;">
        <div class="row form-group col-md-12">
            <div class="form-group col-md-8">
                <!--<h3 class="m-t-6" data-i18n="" class="panel-title">İmtahan </h3>-->
            </div>
            <div class="form-group col-md-2">
                <!--<button id="printButton" data-i18n="save" type="submit" class="btn btn-primary btn-block pincode-button-next">Çap et</button>-->
            </div>
            <div class="form-group col-md-2">
                <button id="back" data-i18n="back" type="submit" class="btn btn-primary btn-block pincode-button-back">Geri</button>
            </div>
        </div>
    </div>
        <div class="row form-group col-md-12">
        <div class="printableArea">
        <!--<div class="ticket-code"></div>-->
    <div class="panel-body" style="margin: 0 -15px;">
                                <div class="uni_logo"> 
               <img style="max-width: 110px;">
            </div>
<!--        <div class="abcde">

            <div class="ticket-headers">
                <span class="ticket-org"></span>
            </div>

        </div>
        <div class="row col-md-12">
        <div class="ticket-other-details col-md-12">
            <span class="fenn">Fənn: <span class="ticket-subject"></span></span>
        </div>
            <div class="row col-md-12 bilet">
                <span>Bilet №</span>
                <
            </div>
        </div>-->
        <div class="col-md-12 tickets">
        </div>
    </div>
    <div class="" style="margin: 0 -15px;">
        <div class="ticket-note">
            </div>
    </div>
    </div>
    </div>
    </div>
<script type="text/javascript">
    $(function () {
            
        var img = $('body .side-title-block img').attr('src');
        $('body .uni_logo img').attr('src', img)
        
        $("#printButton").click(function(){
            var mode = 'iframe'; //popup
            var close = mode == "iframe";
            var options = { mode : mode, popClose : close};
            $("div.printableArea").printArea(options);
        });
        
        Exam.i18n(Exam.lang);
        $('.search-scroll').slimScroll();
    });
</script>
