@font-face {
    font-family: 'A3 Times AzLat';
    src: url('../fonts/A3TimesAzLatNormal.woff2') format('woff2'),
        url('../fonts/A3TimesAzLatNormal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}